.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
}

.navbar {
  font-size: small;
  color: white;
  background-color: #fff;
}

.navbar-logo {
  height: auto;
  width: 150px;
}

.icon {
  color: white;
  margin-top: 10px;
  margin-bottom: 7px;
}

.navlink {
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}