.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
}

.navbar {
  font-size: small;
  color: white;
  background-color: #fff;
}

.body {
  background-image: url(./resources/images/layout/imagen_principal.png);
}

.navbar-logo {
  height: auto;
  width: 150px;
}

.img-principal{
  height: auto;
  display: flex;
  position: center;

}

.icon {
  color: white;
  margin-top: 10px;
  margin-bottom: 7px;
}

.navlink {
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}